<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.hrms.employee.mapper.EmployeeNoHistoryMapper">

    <select id="selectReusable" resultType="com.company.hrms.employee.entity.EmployeeNoHistory">
        SELECT id, employee_no AS employeeNo, year, dept_code AS deptCode,
               employee_id AS employeeId, reuse_flag AS reuseFlag, created_at AS createdAt
        FROM employee_no_history
        WHERE reuse_flag = 1 AND year = #{year} AND dept_code = #{deptCode}
        ORDER BY id ASC
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO employee_no_history (employee_no, year, dept_code, employee_id, reuse_flag)
        VALUES (#{employeeNo}, #{year}, #{deptCode}, #{employeeId}, #{reuseFlag})
    </insert>

    <update id="updateById">
        UPDATE employee_no_history
        <set>
            <if test="employeeId != null">employee_id = #{employeeId},</if>
            <if test="reuseFlag != null">reuse_flag = #{reuseFlag},</if>
        </set>
        WHERE id = #{id}
    </update>
</mapper>
